/********** Common CSS Starts **********/
html,
body {
    font-family: 'Roboto', 'sans-serif', 'arial';
    font-size: 14px;
    color: #242424;
    font-weight: 400;
    /* background-color:black; */
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0
}

.container {
    width: 1150px;
    margin: 0px auto;
    display: table;
}

.width-100 {
    width: 100%;
    float: left;
    /* font-size: 20px; */
    padding: 18px 0px;
}

.width-50 {
    width: 50%;
    float: left;
}

.width-25 {
    width: 25%;
    float: left;
}

.width-75 {
    width: 75%;
    float: left;
}

.width-80 {
    width: 80%;
    float: left;
}

.width-60 {
    width: 60%;
    float: left;
}

.width-40 {
    width: 40%;
    float: left;
}

.width-33 {
    width: 33%;
    float: left;
}

.width-30 {
    width: 30%;
    float: left;
}

.width-20 {
    width: 20%;
    float: left;
}

.main-section {
    width: 100%;
    float: left;
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg-grey {
    background: #f0f3fa;
}

.heading-section {
    font-size: 25px;
    text-align: center;
}

.heading-section span {
    color: #787eff;
}

.subhead-section {
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
}

/********** Common CSS Ends **********/
/********** Top Header CSS Code Starts  **********/
.top-header {
    background: #232f3e;
    padding: 8px 0px;
    border-bottom: 1px solid #3131315e;
}

.head1p1 {
    font-size: 12px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.head1ul {
    list-style: none;
    float: right;
}

.head1ul li {
    float: left;
    padding-left: 10px;
}

.head1ul li a {
    font-size: 12px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.head1ul li i {
    font-size: 15px;
    color: #ffffff;
}

/********** Top Header CSS Code Ends  **********/
/**********  Logo and Search Panel CSS Code Starts  **********/
.search-panel {
    background: #232f3e;
    padding: 12px 0px;
}

.search-textbox {
    padding-left: 16px;
    height: 40px;
    width: 80%;
    border: 1px solid #fff;
    float: left;
}

.search-button {
    height: 42px;
    width: 55px;
    border: none;
    background: white;
    float: left;
}

.search-button i {
    color: #3a1fd3;
}

.cart-sect {
    list-style: none;
    float: right;
    margin-top: 8px;
}

.cart-sect li {
    float: left;
    padding: 0px 6px;
}

.cart-sect li a {
    font-size: 14px;
    color: #ffffff;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    text-decoration: none;
}

.cart-sect li i {
    font-size: 14px;
    color: #ffffff;
}

/**********  Logo and Search Panel CSS Code Ends  **********/
/**********  Main Menu CSS Code Starts  **********/
.main-menu {
    list-style: none;
}

.main-menu a{
    font-weight: 550;
    color: #232f3e;
    font-size: 20px;
    font-family: 'Roboto', sans-serif, arial;
    text-decoration: none;
    transition: color 0.3s ease;
}

.main-menu a:hover{
    /* color: rgb(255, 145, 0); */
    color: #2f8bee;;
}


/*
.anchor::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(109, 4, 230);
} */

.anchor::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    /* background:#2f8bee; */
    background:rgb(255, 145, 0);
    left: 0;
    bottom: -6px;
    transition: 0.6s;
}
.anchor:hover::after{
    width: 100%;
}

.main-menu li {
    float: left;
    padding: 12px 18px;
    align-items: center;
    position: relative;
}

#fast{
    background-image: url("images/fast.jpg");
    background-size: cover;
    
    margin-left: 550px;
    height: 110px;
    width: 500px;
}
 #rolex{
    background-size: cover;
    margin-left: 600px;
    height: 130px;
    width: 400px;
}

#titan{
    background-size: cover;
    margin-left: 625px;
    height: 80px;
    width: 350px;
}

#gshock{
    background-size: cover;
    margin-left: 650px;
    height: 90px;
    width: 300px;
}

#montb{
    background-size: cover;
    margin-left: 625px;
    height: 90px;
    width: 350px;
}
#omega{
    background-size: cover;
    margin-left: 625px;
    height: 110px;
    width: 350px;
}
.logo {
    width: 65px;
    height: 60px;
}

.banner-list {
    width: 378px;
}
.comingsoon{
    margin-left: 200px;
    padding-bottom: 25px;
}
.luxury{
    margin-left: 400px;
    width: 500px;
}

#dummy{
    width: 275px;
    height: 400px;
}
.banner3{
    margin-left: 20px;
}
.content1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding: 20px 40px;
    background-color:  #f5f5f5;
}
.content2{
    font-size: large;
    background-color:  #f5f5f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 40px;

}
/**********  Main Menu CSS Code Ends  **********/
/**********  Product-Section CSS Code Starts  **********/
.product-section {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;

}
h1{
    padding: 10px 0px 10px 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wimg100 {
    width: 100%;
}
.first{
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  .sec{
    display: flex;
    justify-content: center;
  }
  .btn{
    height: 60px;
    width: 130px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: none;
    border: 2px solid #3498db;
    text-transform: uppercase;

    cursor:pointer;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
  }
  .btn1,.btn2,.btn5,.btn6{
    color:#fff;
  }
  .btn3,.btn4{
    color:#fff;
  }
  .btn1:hover,.btn2:hover,.btn5:hover,.btn6:hover{
    color:#3498db;
  }
  .btn3:hover,.btn4:hover{
    color:#3498db;
  }
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
  }

  /* .btn1::before,.btn3::before,.btn5::before{ */
  .btn1::before, .btn3::before,.btn5::before {
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  /* .btn2::before,.btn4::before,.btn6::before{ */
   .btn2::before, .btn4::before,.btn6::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  .btn1::before, .btn2::before,.btn5::before,.btn6::before{
    height: 180%;
  }
  .btn3::before, .btn4::before{
    height: 180%;
  }
  .btn3:hover::before,.btn4:hover::before,.btn1:hover::before,.btn2:hover::before,.btn6:hover::before,.btn5:hover::before{
    height: 0%;
  }

  a{
    text-decoration: none;
    color:#3498db;
    /* z-index: 10; */
  }
.product-img {
    width: auto;
    height: 270px;
    padding-bottom: 10px;
    transition: background 0.6s ,transform 0.5s;
}
.product-img:hover{
    transform: scale(1.1);
}

.product-img-center {
    text-align: center;
}

.product-border {
    border: 1px solid #d1d1d1;
    padding: 20px;
}

.product-name a {
    color: #232b33;
    text-decoration: none;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-rating {
    color: #FFC315;
    font-size: 14px;
    padding-top: 6px;
}

.product-rating span {
    font-weight: 600;
    color: #3c3b3b8c;
    font-size: 12px;
    font-family: 'Roboto', sans-serif, arial;
}

.product-discounted-price {
    color: #333;
    font-size: 18px;
    letter-spacing: 0.1px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif, arial;
}

.product-original-price {
    color: #6f6f6f;
    text-decoration: line-through;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.product-discount {
    border: 1px solid #ccc;
    background: #fff;
    display: inline-block;
    font-size: 10px;
    color: #999;
    padding: 5px;
    border-radius: 1px;
    float:right;
}

.product-price {
    margin-top: 15px;
}

/**********   Product-Section CSS Code Ends  **********/
/**********  Feature-Section CSS Code Starts  **********/
.featured-content i {
    font-size: 37px;
    padding: 7px 0 0 10px;
    color: #eb372a;
}

.featured-content h4 {
    color: #666;
    font-size: 14px;
    margin: 0 0 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.featured-content p {
    font-size: 13px;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.margin-top-8 {
    margin-top: 8px;
}

.featured-border {
    border: 1px solid #ebebeb;
    width: 100%;
    float: left;
    padding: 15px 0px;
}

/**********   Feature-Section CSS Code Ends  **********/
/**********  Footer-Section CSS Code Starts  **********/
.footer {
    background: #232f3e;
    padding: 50px 0px;
}

.quicklink-menu {
    list-style: none;
    padding-left: 10px;
}

.quicklink-menu li a {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.social-media {
    list-style: none;
    margin-top: 10px;
}

.social-media li a img {
    width: 30px;
}

.social-media li {
    float: left;
    padding: 0px 8px;
}

.quicklink-heading {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}

.get-in-touch {
    list-style: none;
    padding-left: 10px;
}

.get-in-touch li i {
    color: #ed372c;
    font-size: 20px;
}

.get-in-touch li {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer-e-mail {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.footer-website {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.footer2-bacbor {
    background: #232f3e;
    padding: 10px 0px;
    border-top: 1px solid #898989;
}

.footer2-content {
    font-size: 14px;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

/**********   Footer-Section CSS Code Ends  **********/
/**********  Footer-bottom Section CSS Code Starts  **********/
.footer2-bacbor {
    background: #232f3e;
    padding: 10px 0px;
    border-top: 1px solid #898989;
}

.footer2-content {
    font-size: 14px;
    color: #fff;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    text-align: center;
}

/**********   Footer-bottom Section CSS Code Ends  **********/